body{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 40px;
  background-color: pink;
}

main{
  transform: translate(0, 500%);
}

.main-div {
  display: inline-block;
  position: absolute;

}


.hearts-img{
  width:50px;
}


.hearts-img {
  animation: heart-beat 3s infinite;
}


.text-1{
  position: relative;
  bottom: 5px;
  display: inline-block;
  /* border: 2px solid; */
}

.text-2{
  position: relative;
  bottom: 5px;
  left:70px;
  display: inline-block;
  /* border: 2px solid; */
}

@keyframes heart-beat {
  from {
    margin-left: auto;
    width: 50px;
  }

  50%{
    margin-left: auto;
    width: 60px;
  }

  to {
    margin-left: auto;
    width: 50px;
  }
}


.eye-1{
position: absolute;
top:100px;
left:710px;
width: 20px;
height: 40px;
background: black;
border-radius: 100%;
/* animation: blink 5s infinite; */
}

.eye-2{
position: absolute;
top:100px;
left:760px;
width: 20px;
height: 40px;
background: black;
border-radius: 100%;
/* animation: blink 5s infinite; */
}


.eyelid-up-1{
  position: absolute;
  top:80px;
  left:710px;
  width: 20px;
  height: 20px;
  background-color: pink;
  animation: blink-down 2s infinite;

  /* animation-duration: 10s; */
   /* animation-delay: 1s; */
  animation-timing-function:linear;
}


@keyframes blink-down{
  from {
  transform: translateY(18px);
  }

  50% {
  transform: translateY(-5px);
  }
  60%{
    transform: translateY(-5px);
  }

  60% {
  transform: translateY(18px);
  }
  /* 90% {
  transform: translateY(18px);
  } */
  100%{
    transform: translateY(18px);
  }
}


.eyelid-down-1{
  position: absolute;
  top:140px;
  left:710px;
  width: 20px;
  height: 20px;
  background-color: pink;
  /* animation-duration: 10s; */
  animation: blink-up 2s infinite;
   /* animation-delay: 1s; */
  animation-timing-function: linear;
}


@keyframes blink-up{
  from {
  transform: translateY(-18px);
  }
  50%{
    transform: translateY(5px);
  }
  60%{
    transform: translateY(5px);
  }
  60%{
  transform: translateY(-18px);
  }
  /* 90%{
  transform: translateY(-18px);
  } */
  100%{
  transform: translateY(-18px);
  }
}



.mouth{
  position: absolute;
  top:150px;
  left:710px;


}

.mouth-img{
  height: 70px;
  width:75px;
}
