body{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 40px;
  background-color: pink;
}

main{
  transform: translate(0, 500%);
}

.main-div {
  display: inline-block;
  position: absolute;

}


.hearts-img{
  width:50px;
}


.hearts-img {
  animation: heart-beat 3s infinite;
}


.text-1{
  position: relative;
  bottom: 5px;
  display: inline-block;
  /* border: 2px solid; */
}

.text-2{
  position: relative;
  bottom: 5px;
  left:70px;
  display: inline-block;
  /* border: 2px solid; */
}

@keyframes heart-beat {
  from {
    margin-left: auto;
    width: 50px;
  }

  50%{
    margin-left: auto;
    width: 60px;
  }

  to {
    margin-left: auto;
    width: 50px;
  }
}


.eye-1{
position: relative;
left:75px;
width: 160px;
height: 80px;
background: black;
border-radius: 100%
}
